%h1= @header

= link_to 'Donations', donations_path, class: 'btn btn-primary', style: 'float: right; margin-top: 10px;'

%table.a1-table.table.table-hover#recurring_donations
  %thead
    %tr
      %th Customer
      %th Order#
      %th Start Date
      %th Monthly Amount
      %th Total to Date
      %th End Date
      %th Item Description or Acct Code
  %tbody 
    - @recurring_donations.each do |t|
      %tr{:id => "donation_row_#{t.id}"}
      %td= link_to t.customer.full_name, recurring_donations_path(:use_cid => 1, :cid => t.customer, :show_vouchers => true, :commit => 'Go')
      %td= link_to_order_containing t
      %td= t.start_date.strftime '%D'
      %td.right= number_to_currency(t.monthly_amount)
      %td= number_to_currency(t.total_to_date)
      %td= "todo"
      %td= t.item_description
%br